<ion-view title="Agenda" id="page5">
  <ion-content padding="true" style="background: url(img/0w0tsHtXQcOlrWRRKxRu_homework-1735644_1920.png) no-repeat center;background-size:cover;" class="has-header">
    <form id="agenda-form3" class="list">
      <div class="spacer" style="width: 300px; height: 24px;"></div>
      <div class="item item-body" id="agenda-list-item-container4">
        <div id="agenda-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Ative o lembrete para receber
            <strong>notificações</strong>
          </p>
        </div>
      </div>
      <ion-toggle toggle-class="toggle-positive" id="agenda-toggle4">Lembrete </ion-toggle>
      <div class="item item-body" id="agenda-list-item-container5">
        <div id="agenda-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Selecione o
            <strong>horário</strong> que gostaria de receber a notificação.</p>
        </div>
      </div>
      <ion-item class="range range-dark" id="agenda-range1">Horário
        <input type="range" value="12" min="0" max="24" step="1">
      </ion-item>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
    </form>
    <div id="agenda-markdown17" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Caso o lembrete seja ativado, você será alertado com uma pergunta aleatória</strong>
      </p>
    </div>
  </ion-content>
</ion-view>