<ion-view title="Calendário" id="page3">
  <ion-content padding="true" style="background: url(img/Ezshd1VSGmsUXIMoLhMQ_homework-1735644_1920.png) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="calendRio-heading2" style="color:#000000;font-weight:600;text-align:center;">Concursos 2017</h3>
    
      
      <a href="https://www.pciconcursos.com.br/noticias/apd-pr-anuncia-a-prorrogacao-do-processo-seletivo-com-quatro-vagas"><ion-list id="calendRio-list11">
      <ion-item class="item-thumbnail-left" id="calendRio-list-item33">
        <img src="img/adp.jpg">
        <h2>Processo seletivo Agência Paraná de Desenvolvimento</h2>
        <p style="white-space:normal;">10/12/2017</p>
      </ion-item>
    </ion-list></a>
      
      
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <h3 id="calendRio-heading3" style="color:#000000;font-weight:600;text-align:center;">Concursos 2018</h3>
    
      <a href="https://www.pciconcursos.com.br/noticias/ipsm-de-sao-jose-dos-campos-sp-anuncia-concurso-publico"><ion-list id="calendRio-list10">
      <ion-item class="item-thumbnail-left" id="calendRio-list-item32">
        <img src="img/ipsm.jpg">
        <h2>Concurso Público IPSM</h2>
        <p style="white-space:normal;">28/01/2018</p>
      </ion-item>
    </ion-list></a>
      
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    
      <a href="https://www.pciconcursos.com.br/noticias/cemig-divulga-periodo-de-inscricoes-de-novo-concurso-publico"><ion-list id="calendRio-list7">
      <ion-item class="item-thumbnail-left" id="calendRio-list-item31">
        <img src="img/cemig.jpg" height="0.1">
        <h2>CEMIG</h2>
        <p style="white-space:normal;">25/02/2018</p>
      </ion-item>
    </ion-list></a>
      
      
      <div class="spacer" style="width: 300px; height: 20px;"></div>
    
      <a href="https://www.pciconcursos.com.br/noticias/diviprev-mg-abrira-concurso-publico-com-quatro-vagas"><ion-list id="calendRio-list7">
      <ion-item class="item-thumbnail-left" id="calendRio-list-item31">
        <img src="img/div.jpg">
        <h2>Concurso Público Diviprev - MG</h2>
        <p style="white-space:normal;">04/03/2018</p>
      </ion-item>
    </ion-list></a>
      
  </ion-content>
</ion-view>