<ion-view title="Disciplinas" id="page7">
  <ion-content padding="true" style="background: url(img/hLajuhZpRueb7T3fcsGD_homework-1735644_1920.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <button id="disciplinas-button10" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Matemática</button>
    <button id="disciplinas-button13" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">História</button>
    <button id="disciplinas-button15" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Geografia</button>
    <button id="disciplinas-button16" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Filosofia</button>
    <button id="disciplinas-button17" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Sociologia</button>
    <button id="disciplinas-button18" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Química</button>
    <button id="disciplinas-button19" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Física</button>
    <button id="disciplinas-button20" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Biologia</button>
    <button id="disciplinas-button21" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Português</button>
    <button id="disciplinas-button22" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Literatura</button>
    <button id="disciplinas-button14" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Inglês</button>
    <button id="disciplinas-button23" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Espanhol</button>
    <button id="disciplinas-button24" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Artes</button>
    <button id="disciplinas-button25" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Educação Física</button>
    <button id="disciplinas-button26" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Tecnologia da informação</button>
    <button id="disciplinas-button27" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Comunicação</button>
  </ion-content>
</ion-view>