<ion-view title="Enem" id="page9">
  <ion-content padding="true" style="background: url(img/h5LGcucfRKOGS0nxczs3_homework-1735644_1920.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <button id="enem-button12" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Ciências Humanas e Suas tec.</button>
    <button id="enem-button28" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Ciência da Natureza e suas tec.</button>
    <button id="enem-button29" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Linguagens, códigos e suas tec.</button>
    <button id="enem-button30" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-list">Matemática e suas tecnologias</button>
  </ion-content>
</ion-view>