<ion-view title="Estatísticas" id="page6">
  <ion-content padding="true" style="background: url(img/39FLTZgmRy2s2WAYRiII_homework-1735644_1920.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="estatSticas-card25">
      <div class="item item-body" id="estatSticas-list-item-container6">
        <div id="estatSticas-markdown20" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>PONTUAÇÃO</strong>
          </p>
        </div>
      </div>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <div id="estatSticas-markdown10" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:18px;">Você tem
          <strong>n%</strong> de acertos na prova de
          <strong>Matemática</strong>.</p>
      </div>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <button id="estatSticas-button34" style="text-align:left;border-radius:100px 100px 100px 100px;" class="button button-positive icon-right ion-android-checkmark-circle">Questões acertadas</button>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <button id="estatSticas-button35" style="text-align:left;border-radius:100px 100px 100px 100px;" class="button button-positive icon-right ion-android-close">Questões erradas</button>
    </div>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <form id="estatSticas-form5" class="list">
      <div class="item item-body" id="estatSticas-list-item-container10">
        <div id="estatSticas-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Achou algum erro ou tem alguma observação, nos envie uma sugestão.</strong>
          </p>
        </div>
      </div>
      <label class="item item-input" id="estatSticas-textarea1">
        <span class="input-label">SUGESTÃO</span><textarea rows="7" placeholder="Digite a sua sugestão"></textarea></label>
    </form>
    <button id="estatSticas-button42" style="text-align:right;border-radius:100px 100px 100px 100px;" class="button button-positive icon-left ion-android-send"> Enviar </button>
    <button id="estatSticas-button43" style="text-align:right;border-radius:100px 100px 100px 100px;" class="button button-positive icon-left ion-eye">Visualizar sugestões</button>
  </ion-content>
</ion-view>