<ion-view title="Notícias" id="page4">
  <ion-content padding="true" style="background: url(img/oR2iDKJ9So28yUSCUYNb_homework-1735644_1920.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="notCias-slider1" style="width:100%;height:200px;">
     
        <a href="http://mundoeducacao.bol.uol.com.br/matematica/3-erros-comuns-ao-resolver-expressoes-numericas.htm"><ion-slide-page id="notCias-slide27" style="background:url(&quot;img/math.jpg&quot;) no-repeat center;background-size:cover;">
        <h1 id="notCias-heading1" style="color:#000000;">3 erros comuns em matemática</h1>
      </ion-slide-page></a> 
        
        
    </ion-slides>
    
      
      <div class="list card" id="notCias-card23">
      
        <a href="http://vestibular.mundoeducacao.bol.uol.com.br/enem/enem-2017-acesse-gabarito-extraoficial-no-super-vestibular/334909.html"><ion-item class="item-thumbnail-left item-icon-right" id="notCias-list-item13">
        <img src="img/enem.jpg">
        <h2>Enem 2017</h2>
        <p>Gabarito Extraoficial</p>
        <i class="icon ion-plus"></i>
      </ion-item></a>
          
      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <a href="http://vestibular.mundoeducacao.bol.uol.com.br/dicas/como-combater-stress-pre-vestibular.htm"><ion-item class="item-thumbnail-left item-icon-right" id="notCias-list-item11">
        <img src="img/estresse.jpg">
        <h2>Vestibular</h2>
        <p>Como combater estresse pré-<br>vestibular</p>
        <i class="icon ion-plus"></i>
      </ion-item></a>
          
      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <a href="http://vestibular.mundoeducacao.bol.uol.com.br/dicas/internet-ajuda-ou-atrapalha-os-estudos.htm"><ion-item class="item-thumbnail-left item-icon-right" id="notCias-list-item14">
        <img src="img/internet.jpg">
        <h2>A internet</h2>
        <p>Internet ajuda ou atrapalha os <br>estudos?</p>
        <i class="icon ion-plus"></i>
      </ion-item></a>
          
      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <a href="http://vestibular.mundoeducacao.bol.uol.com.br/enem/ufba-divulga-resultado-vestibular-2017-enem-cursos-distancia/334906.html"><ion-item class="item-thumbnail-left item-icon-right" id="notCias-list-item15">
        <img src="img/divulgacao.png">
        <h2>Vestibular 2017</h2>
        <p>UFBA divulga resultado via <br>Enem para cursos a distância</p>
        <i class="icon ion-plus"></i>
      </ion-item></a>
          
      <div class="spacer" style="width: 300px; height: 21px;"></div>
    </div>
  </ion-content>
</ion-view>