<ion-view title="Simulados" id="page2">
  <ion-content padding="true" style="background: url(img/bvJY2gUjSJOX63TXm9Sj_homework-1735644_1920.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <a ui-sref="tabsController.disciplinas()" id="simulados-button1" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-folder">Disciplinas</a>
    <a ui-sref="tabsController.concursos()" id="simulados-button8" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-folder">Concursos</a>
    <a ui-sref="tabsController.enem()" id="simulados-button9" style="font-weight:600;border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-folder">Enem</a>
  </ion-content>
</ion-view>